body{
   background-color: #FFFFF0;
}
h1{
   background-color: #99CC33;
   width: 480px;
   height: 100px;
   margin: 20px;
   padding: 5px;
   border-style: outset;
   border-width: 10px;
   border-color: #333333;
   box-shadow: gray 10px 10px 10px 10px;
}
h2{
   background-color: #A3AA60;
   width: 300px;
   margin: 20px;
   padding: 5px;
   border-style: solid;
   border-width: 5px;
   border-color: #663300;
   box-shadow: gray 10px 10px 10px 10px;
}
h3{
   background-color: #99CC33;
   width: 200px;
   margin: 20px;
   padding: 5px;
   border-style: dotted;
   border-width: 5px;
   border-color: #663300;
   box-shadow: gray 10px 10px 10px 10px;
}
